@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181818;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

@layer base {
  html,
  body,
  #root {
    @apply h-full bg-backdrop text-white antialiased;
  }

  #root {
    @apply flex flex-col;
  }

  .wrapper {
    height: calc(100% - theme("spacing.24"));
    @apply flex;
  }
}
